{% load static %}
<!DOCTYPE html>
<html lang='ja'>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width initial-scale:1' name='viewport'>
<title>宅麺.com | ラーメンとつけ麺の通販サイト</title>
<meta content='ラーメンとつけ麺の通販サイト。全国の人気ラーメン店の味をそのままご家庭にお届けします。ストレートスープ限定でお店の味の再現にトコトンこだわってます。' name='description'>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="d1G6BbfJhLdKEe9suUHRgjiM9N8XBm2lXOV0WbECHlSvPxa8Udz7YLgVVOiOKy9UigQ-6-iBq-GGPIzIB85iwQ" />

<script src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/js/application-f5d5c0ba6bc67936b05f.js"></script>
<link rel="stylesheet" media="screen" href="https://d2dtt2tgvmlnxf.cloudfront.net/packs/css/application-ebc95df3.css" />
<script src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/js/common-3525b927bbea8daa231c.js"></script>
<script src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/js/style-18de7461d5fbc7f37fc0.js"></script>
<link rel="stylesheet" media="screen" href="https://d2dtt2tgvmlnxf.cloudfront.net/packs/css/style-1c7a8da3.css" />

<!-- Google Tag Manager -->
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KJLCPP8');
</script>
<!-- End Google Tag Manager -->

<script src='https://statics.a8.net/a8sales/a8sales.js'></script>

<meta content='宅麺.com | ラーメンとつけ麺の通販サイト' property='og:title'>
<meta content='宅麺.com' property='og:site_name'>
<meta content='website' property='og:type'>
<meta content='ラーメンとつけ麺の通販サイト。全国の人気ラーメン店の味をそのままご家庭にお届けします。ストレートスープ限定でお店の味の再現にトコトンこだわってます。' property='og:description'>
<meta content='https://www.takumen.com/top/index' property='og:url'>
<meta content='https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/takumen_ogp-19ccd1b3c2b89acb9775b007a9fa280c.png' property='og:image'>
<meta content='summary_large_image' name='twitter:card'>
<meta content='@taku_men' name='twitter:site'>
<meta content='289440154481312' property='fb:app_id'>
<meta content='https://www.facebook.com/takumen' property='article:publisher'>
<link href='https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/apple-touch-icon-1c07ce68fc844ddfd3277fb3d1e9375f.png' rel='apple-touch-icon' sizes='180x180'>
<link href='/favicon.ico' rel='icon' type='image/x-icon'>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-KJLCPP8' style='display:none;visibility:hidden' width='0'></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
<div id='header'>
<div class='c-container'>
<div class='c-header'>
<div class='c-header__left'>
<p>
<a href="/"><img width="112" height="73" class="header-logo" src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/logo-ef65db6cfeb4934e309bb5467eaad155.png" />
</a></p>
<div class='header-tx'>
<p>当日発送は月～土・午前8時45分まで！</p>
<h1 class='u-tx-fs16 u-tx-red'>ラーメン・つけ麺のNo.1 通販サイト</h1>
</div>
</div>
<div class='c-header__right'>
<div class='header-top-freesearch sp-none'>
<form metod="post" action="/search" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="e7Qzw00Yk7Okxx93LAF5FFisQjF014Q5DL1OrIX7Q4Ly8bmWHFkhYRtG464BLnJpZF5cTxBlVHFyga9PfQfvwg" autocomplete="off" />
<input type="hidden" name="genre" id="genre" value="keyword" autocomplete="off" />
<input type="text" name="keyword" id="keyword" class="free-search-input" placeholder="何かお探しですか？" />
<input type="submit" name="commit" value="検索" class="free-search-btn" data-disable-with="検索" />
</form>

</div>
<div class='header-search'>
<div class='search-box'>
<a href="/search"><img width="24" height="24" class="search-ico" src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/ico-search-6620d0e77d4ca67a4cf0c6ce03579c54.svg" />
</a><span class='search-tx'>
<a href="/products">商品を探す</a>
</span>
</div>
</div>
<div class='header-cart'>
<div class='my-cart'>
<a href='/carts'>
<img width="38" height="38" class="cart-ico" src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/ico-cart-4b7e0deddea83bdfeff795a2c6b96ce9.svg" />
</a>
</div>
<span>
<a href='/carts'>カート</a>
</span>
</div>
</div>
</div>
</div>
</div>
<div class='menu-btn'>
<span class='hambgr'></span>
</div>
<div id='mainnavi'>
<div class='c-container sp-pt-50'>
<div class='navi-area'>
<div class='pc-none'>
<ul class='c-nav-member'>
<li class='nav-member'>
<a href="/users/sign_up">会員登録</a>
</li>
<li class='nav-login'>
<a href="/users/sign_in">ログイン</a>
</li>
</ul>
</div>
<ul class='c-nav'>
<li>
<a href="/statics/about">宅麺.comとは？</a>
</li>
<li>
<a href="/rankings">ランキング</a>
</li>
<li>
<a href="/magazines">宅麺マガジン</a>
</li>
<li>
<a href="/shops">お店から探す</a>
</li>
<li>
<a href="/features">味・種類まとめ</a>
</li>
<li>
<a href="/recently_views">最近見た商品</a>
</li>
<li>
<a target="_blank" href="https://support.takumen.com/hc/ja">FAQ</a>
</li>
<li>
<a target="_blank" href="https://support.takumen.com/hc/ja/requests/new">お問合せ</a>
</li>
</ul>
<div class='sp-none'>
<ul class='c-nav-member'>

</li>
{% if user.is_authenticated %}
<li class='nav-logout'><a href="{% url 'logout' %}">ログアウト</a></li>
{% else %}
<li class='nav-login'><a href="{% url 'login' %}">ログイン</a></li>
<li class='nav-member'><a href="{% url 'signup' %}">会員登録</a></li>
{% endif %}
</ul>
</div>
</div>
</div>
</div>
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
<div class='c-footer'>
<div class='c-container'>
<div class='f-navi'>
<p class='f-navi__title f-nav-toggle'>宅麺について</p>
<ul>
<li>
<a href="/statics/guide">ご利用シーン</a>
</li>
<li>
<a href="/statics/kodawari">私達のこだわり</a>
</li>
<li>
<a href="/statics/social_gift">ソーシャルギフト</a>
</li>
</ul>
</div>
<div class='f-navi'>
<p class='f-navi__title f-nav-toggle'>解説まとめ記事から探す</p>
<ul>
<li><a href="/features/syoyu-ramen">人気醤油ラーメンまとめ</a></li>
<li><a href="/features/sio-ramen">人気塩ラーメンまとめ</a></li>
<li><a href="/features/miso-ramen">人気味噌ラーメンまとめ</a></li>
<li><a href="/features/tonkotsu-ramen">人気豚骨ラーメンまとめ</a></li>
<li><a href="/features/gyokaitonkotsu-ramen">人気魚介豚骨ラーメンまとめ</a></li>
<li><a href="/features/iekei-ramen">人気家系ラーメンまとめ</a></li>
<li><a href="/features/tantanmen">人気担々麺まとめ</a></li>
<li><a href="/features/toripaitan-ramen">人気鶏白湯ラーメンまとめ</a></li>
<li><a href="/features/jiro-ramen">人気インスパイア系ラーメンまとめ</a></li>
<li><a href="/features/syoyu-tsukemen">人気醤油つけ麺まとめ</a></li>
<li><a href="/features/gyokaitonkotsu-tsukemen">人気魚介豚骨つけ麺まとめ</a></li>
<li><a href="/features/kawaridane-tsukemen">人気変わり種つけ麺まとめ</a></li>
</ul>
</div>
<div class='f-navi'>
<p class='f-navi__title f-nav-toggle'>
カテゴリーから探す
</p>
<ul>
<li><a href="/search/category/ramen">ラーメン</a></li>
<li><a href="/search/category/dipping">つけ麺</a></li>
<li><a href="/search/category/no_soup">汁なし</a></li>
<li><a href="/search/category/other">その他</a></li>
</ul>
</div>
<div class='f-navi'>
<p class='f-navi__title f-nav-toggle'>
味別
</p>
<ul>
<li><a href="/search/sauce/soy">醤油</a></li>
<li><a href="/search/sauce/miso">味噌</a></li>
<li><a href="/search/sauce/salt">塩</a></li>
<li><a href="/search/sauce/tonkotsu">豚骨</a></li>
<li><a href="/search/sauce/inspire">二郎インスパイア系</a></li>
<li><a href="/search/sauce/tantan">担々麺</a></li>
<li><a href="/search/sauce/seafood">魚介豚骨</a></li>
<li><a href="/search/sauce/chicken">鶏白湯</a></li>
<li><a href="/search/sauce/house">家系</a></li>
<li><a href="/search/sauce/seabura">背脂</a></li>
<li><a href="/search/sauce/niboshi">煮干</a></li>
<li><a href="/search/sauce/umakara">旨辛</a></li>
<li><a href="/search/sauce/other">その他</a></li>
</ul>
</div>
<div class='f-navi'>
<p class='f-navi__title f-nav-toggle'>
味わい
</p>
<ul>
<li><a href="/search/taste/super_light">超あっさり</a></li>
<li><a href="/search/taste/light">あっさり</a></li>
<li><a href="/search/taste/medium">普通</a></li>
<li><a href="/search/taste/heavy">こってり</a></li>
<li><a href="/search/taste/super_heavy">超こってり</a></li>
</ul>
</div>
<div class='f-navi'>
<p class='f-navi__title f-nav-toggle'>
味の濃さ
</p>
<ul>
<li><a href="/search/shading/super_light">極薄味</a></li>
<li><a href="/search/shading/light">薄味</a></li>
<li><a href="/search/shading/medium">普通</a></li>
<li><a href="/search/shading/heavy">濃味</a></li>
<li><a href="/search/shading/super_heavy">極濃味</a></li>
</ul>
</div>
<div class='f-navi'>
<p class='f-navi__title f-nav-toggle'>
麺の太さ
</p>
<ul>
<li><a href="/search/noodle/super_thin">極細麺</a></li>
<li><a href="/search/noodle/thin">細麺</a></li>
<li><a href="/search/noodle/medium">普通</a></li>
<li><a href="/search/noodle/thick">太麺</a></li>
<li><a href="/search/noodle/super_thick">極太麺</a></li>
</ul>
</div>
<ul class='f-link'>
<li>
<a href="/statics/terms">利用規約</a>
</li>
<li>
<a href="/statics/privacy">プライバシーポリシー</a>
</li>
<li>
<a href="/statics/law">特定商取引に関する法律に基づく表示</a>
</li>
<li>
<a href="https://support.takumen.com/hc/ja">FAQ</a>
</li>
<li>
<a href="https://support.takumen.com/hc/ja/requests/new">お問い合わせ</a>
</li>
</ul>
<ul class='f-sns'>
<li><a href="https://www.facebook.com/takumen"><img src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/fb-f529a74c37f4fcc24a5c60e5b5534b03.svg" /></a></li>
<li><a href="https://twitter.com/taku_men"><img src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/tw-e0391bd118ce1f51d0830598e60fbbb0.svg" /></a></li>
<li><a href="https://www.instagram.com/takumen_insta/"><img src="https://d2dtt2tgvmlnxf.cloudfront.net/packs/media/images/common/ig-72c468e1029064fcf90159a8d6c6b5b2.svg" /></a></li>
<!-- /%li= image_pack_tag("media/images/common/line.svg") -->
</ul>
</div>
</div>
<small>© Gourmet Innovation Co.,Ltd. All Right Reserved.</small>
</footer>
<script src='https://formassist.jp/FormAssist_tag2.js?user=gourmet&amp;num=1002' type='text/javascript'></script>

</body>
</html>
